{namespace popup=Joekolade\GlobalPopup\ViewHelpers}
<div data-namespace-typo3-fluid="true"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default" />


    <f:section name="content">
        <div class="global-popup">
            <div class="popup-inner">
                <a href="#" data-closer>x</a>
                <f:cObject typoscriptObjectPath="lib.tx_global_popup_content" data="{colPos: config.colPos, pageId: config.pid}"></f:cObject>
            </div>
        </div>
    </f:section>


    <f:section name="js">
        <popup:script>
            function setCookie(cname, cvalue, exseconds) {
                if(exseconds){
                    const expires = "max-age="+ exseconds;
                    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
                }
                else {
                    document.cookie = cname + "=" + cvalue + ";path=/";
                }
            }
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            const timeout = <f:format.raw>{config.showTime}</f:format.raw> || 0;
            const closer = document.querySelectorAll('.popup-inner a');
            const popup = document.querySelector('.global-popup');
            if(closer) {
                for(let i = 0; i < closer.length; i++){
                    closer[i].addEventListener('click', function(e){
                        document.body.classList.remove('show-overlay');
                        if(closer[i].getAttribute('href') == '#') e.preventDefault();
                        setCookie('tx_global_popup', 'hide', <f:format.raw>{config.hideTime}</f:format.raw>);
                    });
                }
            }

            if(popup && getCookie('tx_global_popup') == '') {
                setTimeout(function(){
                    document.body.classList.add('show-overlay');
                }, timeout);
            } else {
                document.querySelector('.global-popup-blur-svg').remove();
                if(popup) popup.remove();
            }
        </popup:script>
    </f:section>
</div>
