{namespace popup=Joekolade\GlobalPopup\ViewHelpers}
<f:if condition="{showPopup}">
    <f:else>
    </f:else>
    <f:then>
        <f:if condition="{config.useBlur}">
            <f:then>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="global-popup_blur-svg" bounding-box="0 0 0 0" height="0" width="0">
                    <defs>
                        <filter id="blur-filter">
                            <feGaussianBlur stdDeviation="3"></feGaussianBlur>
                        </filter>
                    </defs>
                </svg>
            </f:then>
        </f:if>

        <f:render section="content"></f:render>

        <popup:style>
            :root {
            --global-popup-bg-color: {config.bgColor};
            --global-popup-highlight-color: {config.highlightColor};
            }
            .global-popup_blur-svg {
                display: none;
            }
            .global-popup_overlay {
                display: none;
            }

            body::before {
                content: '';
                position: fixed;
                z-index: 2999;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                background-color: <f:format.raw>{config.opacityRgba}</f:format.raw>;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
            }

            body.show-overlay {
                overflow: hidden;
            }

            body.show-overlay::before {
                opacity: 1;
                pointer-events: initial;
            }
            <f:if condition="{config.useBlur}">
                body.show-overlay > *:not(.global-popup),
                body.show-overlay > .page > * {
                    -webkit-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
                    -webkit-filter: url(#blur-filter);
                    filter: url(#blur-filter);
                    -webkit-filter: blur(3px);
                    filter: blur(3px);
                    -webkit-transition-delay: .5s;
                    -o-transition-delay: .5s;
                    transition-delay: .5s;
                    opacity: <f:format.raw>{config.opacityDec}</f:format.raw>;
                }
            </f:if>
            .global-popup {
                opacity: 0;
                position: fixed;
                width: 100vw;
                max-width: 680px;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -55%) scale(0.9);
                -ms-transform: translate(-50%, -55%) scale(0.9);
                transform: translate(-50%, -55%) scale(0.9);
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                pointer-events: none;
                z-index: 3001;
                -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
            }
            .show-overlay .global-popup {
                -webkit-transform: translate(-50%, -50%) scale(1);
                -ms-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
                pointer-events: auto;
            }
            .global-popup .popup-inner {
                background-color: <f:format.raw>{config.bgColor}</f:format.raw>;
                padding: 2rem;
                overflow-y: scroll;
                max-height: calc(100vh - 4rem);
            }

            .global-popup a[data-closer]{
                color: <f:format.raw>{config.highlightColor}</f:format.raw>;
                text-indent: -9999px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' fill='<f:format.urlencode>{config.highlightColor}</f:format.urlencode>' viewBox='0 0 24 24'%3E%3Cpath d='M12 11.293L22.293 1l.707.707L12.707 12 23 22.293l-.707.707L12 12.707 1.707 23 1 22.293 11.293 12 1 1.707 1.707 1z'/%3E%3C/svg%3E%0A");
                background-size: 65% 65%;
                background-repeat: no-repeat;
                background-position: center;
                padding: .5em;
                border: solid thin;
                border-color: <f:format.raw>{config.highlightColor}</f:format.raw>;
                width: 2rem;
                height: 2rem;
                text-align: center;
                transition: 0.3s ease-in-out;
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .global-popup a[data-closer]:hover{
                background-size: 68% 68%;
            }
        </popup:style>

        <f:render section="js"></f:render>
    </f:then>
</f:if>
